ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-modal {
  --width: 550px;
  --height: 680px;
  --border-radius: 16px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

/* =========================================
   ESTRUTURA DO CABEÇALHO (BASE - COMPUTADOR)
   ========================================= */
.cabecalho-desktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.cabecalho-mobile {
  display: none; /* Escondido no Computador */
}

/* ========================================================
   ESTILOS DO RODAPÉ (TABS)
   Removemos o azul padrão e forçamos o amarelo académico
======================================================== */

ion-tab-bar {
  /* Engana o Ionic dizendo que a cor principal deste rodapé é o nosso amarelo */
  --ion-color-primary: var(--ion-color-amarelo-academico, #f4c20d);
}

ion-tab-button {
  /* Altera a animação da "onda" ao clicar */
  --ripple-color: var(--ion-color-amarelo-academico, #f4c20d);
  
  /* Cria aquele fundo amarelo muito suave e arredondado ao selecionar */
  --background-focused: rgba(244, 194, 13, 0.15);
  --background-hover: rgba(244, 194, 13, 0.10);
}
