<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    
    <ion-menu contentId="main-content" type="overlay" swipeGesture="false">
      <ion-content class="menu-custom-content">
        
        <div class="menu-inner-container">
          <ion-list lines="none" style="background: transparent; padding: 0;">
            
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="forward" 
                        [routerLink]="[p.url]" 
                        routerLinkActive="selected" 
                        detail="false" 
                        class="menu-item-custom">
                
                <ion-icon aria-hidden="true" slot="start" [name]="p.icon" class="menu-icon-custom"></ion-icon>
                <ion-label class="menu-label-custom">
                  {{ p.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            
          </ion-list>
        </div>

      </ion-content>
    </ion-menu>

    <div id="main-content" class="ion-page">
      <ion-router-outlet></ion-router-outlet>
    </div>

  </ion-split-pane>
</ion-app>