/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/* =========================================
   REGRAS PARA A VERSÃO MOBILE
   Esconde o menu lateral e textos extra no telemóvel
   ========================================= */
@media (max-width: 768px) {
  .esconder-mobile {
    display: none !important;
  }

  /* Forçar a ocultação dos botões do menu no telemóvel */
  ion-buttons[slot="start"],
  ion-menu-button {
    display: none !important;
  }
}

/* ============================================================================
   POPOVER CUSTOMIZADO (A Vitória Final)
   ============================================================================ */
ion-popover.menu-perfeito {
  /* Largura matemática perfeita (Ecrã - margens do teu layout) */
  --width: calc(100vw - 52px) !important;
}

ion-popover.menu-perfeito::part(content) {
  border-radius: 10px !important;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12) !important;
  margin-top: 5px !important;
}